body {
    background-color: #654321;
}

label, span, a, button {
    font-family: Verdana;
}

#imgLogo {
    width: 600px;
    display: block;
    margin: 40px auto 40px auto;
}

#divContent {
    width: 500px;
    height: fit-content;
    margin: 0 auto 0 auto;
    padding: 30px;
    background-color: #EAEAEA;
}

.inputTitle {
    display: block;
    margin-bottom: 5px;
}

input[type=text] {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 25px;
}

#btnJoin {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    background-color: #23a223;
    border: none;
    color: white;
}

#btnJoin:hover {
    background-color: #229622;
    transition: all 0.5s;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px
}

#btnSignIn {
    display: inline-block;
}

@media only screen and (max-width: 750px) {
    #divContent {
        width: calc(100% - 120px);
    }

    #imgLogo {
        width: calc(100% - 120px);
    }
}