header {
    background-color: #654321;
    height: 100px;
}

label, span, a, p, button, h3 {
    font-family: Verdana;
}

#divContent {
    display: grid;
    grid-template-columns: 50px 400px 50px 700px auto;
}

/* Song list */
#tbSearchBar {
    width: 100%;
    margin-bottom: 10px;
    width: calc(100% - 8px);
    padding: 8px;
}

#divSongs {
    width: 700px;
    padding: 30px;
    margin: auto;
    height: 600px;
    overflow-y: scroll;
    background-color: #f5f5f5;
    grid-column: 4;
}

.divSong {
    width: calc(100% - 30px);
    height: 40px;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 0;
    background-color: #e8e8e8;
}

.divSong:hover {
    box-shadow: 1px 1px 10px 1px #c3c3c3;
}

.pTrack {
    font-weight: bold;
    margin-bottom: 10px;
    color: #404040;
}

.pArtist {
    color: #717171;
    font-size: 0.9em;
}

/* Chosen songs */
#divSelection {
    background-color: #f5f5f5;
    width: calc(100% - 60px);
    grid-column: 2;
    grid-row: 1;
    padding: 30px
}

h3 {
    text-align: center;
    font-weight: bold;
}