:root {
    --main-brown: #654321;
    --light-brown: #d4cac1;
    --title-black: #323232;
    --off-white: #f2f2f2;
}

* { box-sizing:border-box; }

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--light-brown);
}

label, span, a, p, button, h3 {
    font-family: Verdana;
}

header {
    position: fixed;
    background-color: #654321;
    height: 70px;
    width: 100%;
    line-height: 80px;
    padding: 5px;
    z-index: 1002;
}

header i {
    position: absolute;
    top: 18px;
    left: 25px;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

#imgLogo {
    height: 60px;
    margin: auto;
    display: block;
}

#divContent {
    height: calc(100% - 70px);
}

#bruinePlayer {
    width: 100%;
    height: 250px;
    display: block;
}

/* Song list */
/* Input fields */
:focus {
    outline: none;
}

.inputLabel {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--title-black);
}

/* necessary to give position: relative to parent. */
input {
    font: 15px/24px "Muli", sans-serif;
    color: #444;
    width: 100%;
    letter-spacing: 1px;
}

.inputContainer {
    width: 100%;
    margin: 5px 0 20px 0;
    position: relative;
}

.inputField {
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s;
}

.inputField ~ .focus-border:before,
.inputField ~ .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--main-brown);
    transition: 0.3s;
}
.inputField ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
.inputField ~ .focus-border i:before,
.inputField ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: var(--main-brown);
  transition: 0.4s;
}
.inputField ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.inputField:focus ~ .focus-border:before,
.inputField:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}
.inputField:focus ~ .focus-border i:before,
.inputField:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}

#divSongSelection {
    margin: auto;
    width: 700px;
    height: 100%;
    padding: 100px 30px 30px 30px;
    grid-column: 4;
}

#divSongs {
    height: calc(100% - 50px);
    width: 100%;
    overflow-y: scroll;
}

.divSong {
    width: 100%;
    height: 70px;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 0;
    background-color: var(--off-white);
    box-shadow: 1px 1px 10px 1px #e0e0e0;
}

.divSong:hover {
    box-shadow: 1px 1px 10px 1px #c3c3c3;
}

.pTrack {
    font-weight: bold;
    margin-bottom: 5px;
    max-height: 17px;
    overflow: hidden;
    color: #404040;
}

.pArtist {
    color: #717171;
    font-size: 0.9em;
}

/* Chosen songs */
#divJouwBruine {
    position: absolute;
    top: 70px;
    background-color: var(--light-brown);
    width: 0;
    min-height: calc(100% - 70px);
    height: fit-content;
    padding: 0;
    transition: all 0.5s;
    overflow: hidden;
}

h3 {
    grid-row: 1;
    grid-column: 1/4;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

#numberList {
    position: absolute;
    top: 64px;
    left: 40px;
    z-index: 1001;
}

#numberList p {
    font-size: 14px;
    max-height: 14px;
    margin-top: 14px;
    margin-bottom: 34px;
    font-weight: bold;
    color: var(--main-brown)
}

#number3{
    opacity: 0.95;
}

#number4{
    opacity: 0.95;
}

#number5{
    opacity: 0.90;
}

#number6{
    opacity: 0.90;
}

#number7{
    opacity: 0.85;
}

#number8{
    opacity: 0.85;
}

#number9{
    opacity: 0.80;
}

#number10{
    opacity: 0.80;
}

#number11 {
    opacity: 0.75;
}

#number12 {
    opacity: 0.75;
}

#number13 {
    opacity: 0.70;
}

#number14 {
    opacity: 0.70;
}

#number15 {
    opacity: 0.65;
}

#number16 {
    opacity: 0.65;
}

#number17 {
    opacity: 0.60;
}

#number18 {
    opacity: 0.60;
}

#number19 {
    opacity: 0.55;
}

#number20 {
    opacity: 0.55;
}


#divSelectedSongs {
    grid-row: 2;
    grid-column: 3;

}

.divSelectedSong {
    position: relative;
    padding: 12px;
    background-color: white;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px #e0e0e0;
}

.divSelectedSong:hover {
    box-shadow: 1px 1px 10px 1px #c3c3c3;
}

.divSelectedSong p {
    font-size: 14px;
    max-height: 14px;
    max-width: calc(100% - 50px);
    margin-bottom: 0;
    margin-left: 30px;
}

.btnDeleteSong {
    position: absolute;
    right: 20px;
    top: 11px;
    color: #6d6d6d;
}

.btnDeleteSong:hover {
    color: black;
    animation: all 0.5s; 
}

@media only screen and (max-width: 1300px) {
    #divSongSelection {
        grid-row: 4;
        grid-column: 1;
        width: 100%;
        height: 100%;
        padding: 20px;
    }

}